body {
  background-color: #ff995e ;
}


.img-saulriets{
  width:300px;
  position: absolute;
  right: 1500px;
  top: 150px;
}


.img-samilovs{
  width:300px;
  position: absolute;
  right: 1500px;
  top: 400px;
}

.video{
  width:500px;
  position: absolute;
  right: 1200px;
  top: 650px;
}

.img-vesture{
  width: 300px;
  position: absolute;
  right: 1500px;
  top: 300px;
}

.img-zinasanas{
  width: 400px;
  position: absolute;
  right: 1500px;
  top: 500px;
}

